
	<span class="text-base text-textPrimary font-bold w-full">Verificando Información </span>
	<!-- Aquí puedes agregar lo que desees dentro del área -->
	<div class="w-full h-64">
		<!-- Contenido adicional que desees mostrar -->
        <h1 *ngIf="cPerCodigo !== ''"> Codigo Administrativo: {{ cPerCodigo }}</h1>

          <div class="custom-select">
            <!-- <label for="country-select">Seleccionar Campus</label> -->
            <select id="optSedes" #optSedes>
              <option value="-1" disabled selected>Seleccionar Campus</option>
              <option *ngFor="let sede of mainSharedService.datosSedes()" [value]="sede.cPerJuridica">
                  {{sede.cPerApellido}}
              </option>
            </select>
          </div>
          <div class="custom-select">
            <select id="optPlanes" *ngIf="vPadre === 0" (change)="onPlanSelect($event)" >
              <option value="-1" disabled selected>Seleccionar Planes</option>
              <option *ngFor="let sede of mainSharedService.datosPlanes()" [value]="sede.nIntCodigo">
                {{sede.cIntDescripcion}}
            </option>
            </select>
            <select id="ddlTipoPlan" class="cbo" style="width:260px;" *ngIf="vPadre === 1" (change)="onPlanSelect($event)" >
              <option value="-1" disabled selected>Seleccionar Planes</option>              
              <ng-container *ngFor="let group of tipoPlanes">
                <optgroup [label]="group.label">
                  <option *ngFor="let option of group.options" [value]="option.nIntCodigo">
                    {{ option.cIntDescripcion }}
                  </option>
                </optgroup>
              </ng-container>
            </select>
          </div>
          <br><br>
          <section>            
            <div class="example-button-row">
              <button mat-flat-button class="light-blue-button" (click)="MostrarReclamos(optSedes)">Mostrar Reclamos</button>
            </div>
          </section>
           <!-- Tabla con Paginación -->
           <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Columna ID Reclamo -->
            <ng-container matColumnDef="idreclamo">
              <th mat-header-cell *matHeaderCellDef> ID Reclamo </th>
              <td mat-cell *matCellDef="let element"> {{element.idreclamo}} </td>
            </ng-container>
          
            <!-- Columna Nombre -->
            <ng-container matColumnDef="crecnombre">
              <th mat-header-cell *matHeaderCellDef> Datos </th>
              <td mat-cell *matCellDef="let element"> 
                <b>Reclamante :</b> {{element.cRecNombre}} <br>
                <b>DNI :</b> {{element.cRecDni}} <br>
                <b>Tel./Celular :</b> {{ element.cRecTelefono}} <br>
                <b>Correo :</b> {{ element.cRecEmail}}
              </td>
            </ng-container>
          
            
            <ng-container matColumnDef="crecdetalle">
              <th mat-header-cell *matHeaderCellDef> DETALLE </th>
              <td mat-cell *matCellDef="let element">  
                  Fecha Registro: {{element.cRecFecha}} <br>
                  <b>Servicio: </b><br>
                  {{element.cRecDescripcion}} <br>
                  <b>Tipo Reclamo: </b>{{element.cTipoReclamo}}<br>
                  {{element.cRecDetalle}}
              </td>
            </ng-container>

            <ng-container matColumnDef="crecaccion">
              <th mat-header-cell *matHeaderCellDef> ACCION </th>
              <td mat-cell *matCellDef="let element">  
                  {{element.cDocRecAccion}}
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          <mat-paginator [length]="totalRows" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="onPaginateChange($event, optSedes)"></mat-paginator>
	</div>
